@import "__variables.scss";

.page__postcode {
    .search-history {
        &+.search-history {
            margin-top: $space0x;
        }
    }

    .detail-area {
        margin-left: $space1x;
        width: 30%;

        .selectable.frame.pointer {
            +.selectable.frame.pointer {
                margin-top: $space0x;
            }
        }
    }

    .search-area {
        *+* {
            margin-left: $space1x;
        }
    }

    .frame {
        padding: $space1x;
        border: 1px solid black;
        border-radius: $space0x;
    }

    .disabled {
        background-color: gray;
    }

    .close-button {
        border: 1px solid black;
        border-radius: 10px;
        width: 20px;
        height: 20px;
    }
}