@import "__variables.scss";

.page__postcode {
    .search-history {
        &+.search-history {
            margin-top: $space0x;
        }
    }

    .detail-area {
        margin-left: $space1x;
        width: 30%;

        .selectable.frame.pointer {
            +.selectable.frame.pointer {
                margin-top: $space0x;
            }
        }
    }

    .search-area {
        *+* {
            margin-left: $space1x;
        }
    }

    .disabled {
        background-color: gray;
    }

    .close-button {
        border: 1px solid black;
        border-radius: 10px;
        width: 20px;
        height: 20px;
    }
}

.page__todo {
    .add-area {
        width: 100%;

        label+* {
            margin-left: $space0x;
        }

        >*+* {
            margin-top: $space0x;
        }
    }

    .column {
        &__done {
            width: 100px;
        }

        &__limit {
            flex: 1;
        }

        &__text {
            flex: 3;
        }
    }

    .todo-list {

        &__header,
        &__todo {
            >*+* {
                margin-left: $space1x;
            }
        }

        &__body {
            flex-grow: 1;
            flex-basis: 0;
            overflow-y: auto;
        }
    }
}